* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Walkway", sans-serif; /*esta familia es la mas parecida que encontre en google, pero la mia va a ser walkway, no llegue a practicar como usar fuentes propias*/
  }
  